---
import Layout from "../layouts/Layout.astro";
import InteriorHeader from "../components/InteriorHeader.astro";
---

<Layout>
  <InteriorHeader />
  <main>
    <h1>Contact (temp)</h1>
  </main>
  </Layout> 