<div
class="max-w-full mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:px-8 bg-primary shadow-2xl shadow-secondary border-opacity-50 border-b-8 border-secondary"
>
<div class="text-center">
    <p
        class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-4xl"
    >
        <a href="/"> Olivia Lopez, CRS</a>
    </p>
</div>
</div>