---

---

<div class="bg-white">
    <div class="relative py-16 bg-tertiary overflow-hidden">
        <div class="relative px-4 sm:px-6 lg:px-8">
            <div
                class="mt-6 prose prose-slate prose-lg text-gray-500 mx-auto"
            >
                <slot/>
            </div>
        </div>
    </div>
</div>