---
export interface Proper {
    title?: string,
    description?: string
}

const { title = 'House Quest', description = 'Get help finding a house in Austin, TX.' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <!-- <script type="module" src="/src/main.js"></script> -->

        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
